Source: harmony-5.0
Section: unknown
Priority: extra
Maintainer: Mark Hindess <mark.hindess@googlemail.com>
Build-Depends: debhelper (>= 5), ecj, ant, subversion, ant-optional, liblcms1-dev, libjpeg62-dev, libpng-dev, libxft-dev, libxml2-dev, libxtst-dev, libxext-dev
Standards-Version: 3.7.2

Package: harmony-5.0-jre
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libstdc++6
Provides: java-virtual-machine, java-runtime, java1-runtime, java2-runtime
Description: Apache Harmony JRE
 <insert long description, indented with spaces>

Package: harmony-5.0-jdk
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, harmony-5.0-jre
Provides: java-compiler, java2-compiler
Description: Apache Harmony JDK
 <insert long description, indented with spaces>

Package: harmony-5.0-hdk
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, harmony-5.0-jdk
Description: Apache Harmony HDK
 <insert long description, indented with spaces>
